# Production license for @nuxt/ui-pro, get one at https://ui.nuxt.com/pro/purchase
NUXT_UI_PRO_LICENSE=
# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=
# APP config
APP_URL='https://rsms.me/'
API_URL='https://rsms.me/'
API_PROXY_URL=
GATEWAY_APP_URL=