
@import '../index.css';
// init
@import './mixins';
@import './variables';

// transition
@import './transition';

// font
@font-face {
  font-display: swap;
  font-family: DINRegular;
  src: url('/fonts/DIN-Regular.ttf');
  // CSS Unicode Range Generator https://codepen.io/elifitch/pen/Ljqway
  // abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/.=-;',?!#@$%^&*()_+\|:"[]{}
  unicode-range: U+21-3B, U+3D, U+3F-5F, U+61-7D;
}

@import './main.css';
